.step(data-title='Introduction')
  :markdown
    ## SMS and MMS Marketing Notifications

    Ready to implement SMS and MMS marketing notifications? Here's how it works
    at a high level:

    1. A user you'd like to reach sends an SMS text message to a Twilio phone
       number you advertise in print, online, or in TV advertising.
    2. Your application confirms that the user wants to receive SMS and MMS
       notifications from your application.
    3. An administrator or marketing campaign manager uses a web form to craft a
       message that will go out to all subscribers via SMS/MMS message.

    ## Building Blocks

    To get this done, you'll be working with the following Twilio APIs:

    * [TwiML](//www.local.twilio.com/docs/api/twiml) and the [<Message>
    Verb](/docs/api/twiml/sms/message): We'll use TwiML to manage interactions
    initiated by the user via SMS.
    * [Messages Resource](/docs/api/rest/sending-sms): We will use the REST API
    to broadcast messages out to all subscribers.

    Let's get started! Click the right arrow to move on to the next step of the
    tutorial.
